<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body style="background-color:   #F0FFFF ;" >
<h1><center>User details page<br></center></h1><br><br>




<div class="container">
<table class="table">
    <tbody>
    <tr>
        <th class="thead-dark" scope="col" >Full Name</th>
        <td>[[${#request.userPrincipal.principal.FullName}]]</td>

    </tr>

    <tr>
        <th class="thead-dark" >First Name</th>
        <td>[[${#request.userPrincipal.principal.user.FirstName}]]</td>
    </tr>
    <tr>
        <th class="thead-dark" >Last Name</th>
        <td>[[${#request.userPrincipal.principal.user.LastName}]]</td>
    <tr>
        <th class="thead-dark" >Email</th>
        <td>[[${#request.userPrincipal.principal.user.Email}]]</td>
    </tr>
    <tr>
        <th class="thead-dark" >Phone</th>
        <td>[[${#request.userPrincipal.principal.user.Phonenumber}]]</td>

    </tr>
<!--    <tr>-->
<!--        <th class="thead-dark" >Passowrd</th>-->
<!--        <td>[[${#request.userPrincipal.principal.user.Password}]]</td>-->

<!--    </tr>-->
    </tbody>
</table>

</div>
<center><a href="/user-account-details">Update the user details</a></center>


<center><a href="/viewUsersPage">Back to User page</a></center>


</body>
</html>